body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f9f9f9;
  color: #333;
}

main {
  min-height: calc(100vh - 120px); /* header + footer */
}

a {
  text-decoration: none;
  color: inherit;
}
